.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(120deg, #4a90e2, #50c878); */
  background-image: url("/home/ioana/SoundScape/src/music-notes-illustration/10560417.jpg");
  color: rgb(5, 118, 174);
  font-family: Papyrus;
  font-size: 20px;
}

.auth-form {
  background: white;
  color:rgb(0, 87, 131);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #52bced;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #db64b5;
  color: white;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #de42c1;
}

.auth-form .link {
  color: #ff81db;
  cursor: pointer;
  text-decoration: underline;
}

.auth-form .link:hover {
  color: #357abd;
}

.button-logout {
  width: 20%;
  padding: 10px;
  border-radius: 60px;
  background-color: #357abd;
  cursor: pointer;
}
